[submodule ".config/mpv/shaders/SSimDownscaler"]
	path = .config/mpv/shaders/SSimDownscaler
	url = https://gist.github.com/36508af3ffc84410fe39761d6969be10.git
    shallow = true
[submodule ".config/mpv/shaders/SSimSuperRes"]
	path = .config/mpv/shaders/SSimSuperRes
	url = https://gist.github.com/2364ffa6e81540f29cb7ab4c9bc05b6b.git
    shallow = true
[submodule ".config/mpv/shaders/KrigBilateral"]
	path = .config/mpv/shaders/KrigBilateral
	url = https://gist.github.com/a015fc885d5c22e6891820ad89555637.git
    shallow = true
[submodule ".config/mpv/shaders/adaptive-sharpen"]
	path = .config/mpv/shaders/adaptive-sharpen
	url = https://gist.github.com/8a77e4eb8276753b54bb94c1c50c317e.git
    shallow = true
[submodule ".local/share/zsh/plugins/zsh-autopair"]
	path = .local/share/zsh/plugins/zsh-autopair
	url = https://github.com/hlissner/zsh-autopair.git
	shallow = true
[submodule ".local/share/zsh/plugins/zsh-vi-mode"]
	path = .local/share/zsh/plugins/zsh-vi-mode
	url = https://github.com/jeffreytse/zsh-vi-mode.git
	shallow = true
[submodule ".local/share/zsh/plugins/powerlevel10k"]
	path = .local/share/zsh/plugins/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
	shallow = true
[submodule ".local/share/zsh/plugins/fast-syntax-highlighting"]
	path = .local/share/zsh/plugins/fast-syntax-highlighting
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting.git
	shallow = true
[submodule ".local/share/zsh/plugins/zsh-completions"]
	path = .local/share/zsh/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
	shallow = true
[submodule ".local/share/zsh/plugins/zsh-history-substring-search"]
	path = .local/share/zsh/plugins/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search.git
	shallow = true
[submodule ".local/share/zsh/plugins/zsh-autosuggestions"]
	path = .local/share/zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
	shallow = true
[submodule ".local/share/nvim/site/pack/packer/start/packer.nvim"]
	path = .local/share/nvim/site/pack/packer/start/packer.nvim
    url = https://github.com/wbthomason/packer.nvim
    shallow = true
