#!/bin/sh

# Export Variables
export PATH="$HOME/.local/bin:$PATH"
export VISUAL='/usr/bin/nvim'
export EDITOR=$VISUAL
export TERMINAL='/usr/bin/alacritty'
export BROWSER='/usr/bin/brave'
export SUDO_ASKPASS="$HOME/.local/bin/dmenupass"
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_CACHE_HOME="$HOME/.cache"
export XDG_DATA_HOME="$HOME/.local/share"
# Run startup scripts
xwallpaper --zoom $XDG_DATA_HOME/bg
xrdb $XDG_CONFIG_HOME/x11/xresources
remaps
# Autostart
pgrep -a beet || beet bpd &
dunst &
pgrep -a redshift || redshift &
pgrep -a emacs || emacs --daemon
sxhkd &
unclutter &
